streamlit==1.39.0

langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.25
langsmith==0.1.139
langchain-groq==0.2.0

chromadb==0.5.5
python-dotenv==1.0.1

tiktoken==0.7.0
groq==0.13.0
sentence-transformers==3.2.0

